.header{
    height: 90vh;
    background-repeat : no-repeat;
    background-size : cover;
    display: flex;
    justify-content: center;
}

body{
    marin-top:10px;
    marin-left:10px;
}

.vh-100{
    position:absolute;
    top:250px;

}