<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>
<body>
    <div class="nav">
        <a class="nav-logo">HealthCare,For you</a>
        <ul class="nav-ul">
            <li class="nav-item"><a>Home</a></li>
            <li class="nav-item"><a>Health Record</a></li>
            <li class="nav-item"><a>Health Info</a></li>
            <li class="nav-item"><a>Contact</a></li>
        </ul>
    </div>
    <div class="header" style="background-image:url('/img/MainImg.jpg')">
    <div class="title">
        <h2>HealthCare,For you</h2>
        <p>take care of your self</p>
        <a><button type="button" onclick="location.href='/main_page/drawing'">Let's Start →</button></a>
    </div>
</div>
</body>
</html>