<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/info.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>
<body>
<div class="nav">
    <a class="nav-logo">HealthCare,For you</a>
    <ul class="nav-ul">
        <li class="nav-item" onclick="location.href='/health/'"><a>Home</a></li>
        <li class="nav-item" onclick="location.href='/health/record'"><a>Health Record</a></li>
        <li class="nav-item" onclick="location.href='/health/info'"><a>Health Info</a></li>
        <li class="nav-item" onclick="location.href='/health/login'"><a>Login</a></li>
    </ul>
</div>
<div class="header" style="background-image:url('/img/MainImg.jpg')">
    <div class="title">

    </div>
</div>
</body>
</html>