<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공모전 정보</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/css/info.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <script src="/js/logout.js"></script>
</head>
<body>
<div class="nav">
    <img src="/img/logo.jpg" onclick="location.href='/ds-sw/'" style="width:70px;height:60px;">
<!--    <a class="nav-logo" onclick="location.href='/ds-sw/'">DS-Coder</a>-->
    <ul class="nav-ul">
        <li class="nav-item" onclick="location.href='/ds-sw/question'"><a>Board</a></li>
        <li class="nav-item" onclick="location.href='/ds-sw/question/write'"><a>Records</a></li>
        <li class="nav-item" onclick="location.href='/ds-sw/dic'"><a>IT Dictionary</a></li>
        <li class="nav-item" onclick="location.href='/ds-sw/info'"><a>IT Info</a></li>
        <li class="nav-item" id="join" onclick="location.href='/ds-sw/auth/join'"><a>Join</a></li>
        <li class="nav-item" id="login" onclick="location.href='/ds-sw/auth/login'"><a>Login</a></li>
        <li class="nav-item" id="logout" onclick="ajax_logout()"><a>Logout</a></li>

    </ul>
</div>
<div class="header" style="background-image:url('/img/question_write.jpg')">
    <div class="info">
        <br>
        <p style="color:white;font-size:20px;font-weight:bold;">IT POST💻 및 대외활동/공모전 🤼‍♀</p>
        <hr/>
        <div class="infos">
            <iframe width="600" height="600"
                    src="https://post.naver.com/subject/list.naver?navigationType=push&categoryNo=61&subjectType=CATEGORY"
                    name="news1" id="news1" frameborder="1" scrolling="yes" align="left">
                이 브라우저는 iframe을 지원하지 않습니다</iframe>

            <iframe width="600" height="600"
                    src="https://www.wevity.com/?c=find&s=1&gub=1&cidx=20"
                    name="news1" id="news2" frameborder="1" scrolling="yes" align="left">
                이 브라우저는 iframe을 지원하지 않습니다</iframe>

        </div>


    </div>
</div>
</body>
</html>