<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문 목록 페이지</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" type="text/css" href="/css/question_list.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/jquery.serializeObject.min.js"></script>
    <script src="/js/question_list.js"></script>
</head>
<body>

<div class="nav">
    <a class="nav-logo">Grow Together, DS</a>
    <ul class="nav-ul">
        <li class="nav-item" onclick="location.href='/ds-sw/'"><a>Home</a></li>
        <li class="nav-item" onclick="location.href='/ds-sw/question'"><a>Question</a></li>
        <li class="nav-item" onclick="location.href='/ds-sw/info'"><a>IT Info</a></li>
        <li class="nav-item" onclick="location.href='/ds-sw/login'"><a>Login</a></li>
    </ul>
</div>
<div class="header" style="background-image:url('/img/RecordImg.jpg')">
    <div id="questions">
        <div id="question_list">

        </div>
        <div id="question_info">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" id="title" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text"> Question</span>
                <input type="text" name="question" id="question" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Code</span>
                <textarea
                        id="editing-code"
                        cols="80"
                        placeholder="소스코드 입력"
                        spellcheck="false"
                        oninput="update_code(); resize();">
                </textarea>

                <pre id="highlighting-code" class="hljs">
                    <code></code>
                </pre>
            </div>
        </div>
        <button type="button" id="go_write_button"class="btn btn-success" onclick="location.href='/ds-sw/question/write'">Ask them!</button>
    </div>
</div>

</body>
</html>